<ion-header>
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Personas que más ha ayudado
    </ion-list-header>
    <ion-item>
      <ion-label>1. Pepito</ion-label>
      <ion-icon name="person" color="secondary" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      2.
      Kharenzita
      <ion-icon name="person" color="secondary" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      3.
      Victor Iturbe
      <ion-icon name="person" color="secondary" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      4.
      Lalo Landa
      <ion-icon name="person" color="secondary" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      5.
      Gustavo Madera
      <ion-icon name="person" color="secondary" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      6.
      Beni Benito
      <ion-icon name="person" color="secondary" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
