
.img-torta {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.entry-info {
  margin-top: 60px;
}

.help {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  padding: 10px 10px 16px;
}