<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="img-torta" margin-top>
    <img src="assets/imgs/torta.png" alt="">
  </div>
  <div class="entry-info" text-center>
    <h5>¿Quienes somos?</h5>
    <h5>¿Por qué queremos hacerlo?</h5>
    <h5>¿Cómo lo haremos?</h5>
    <h5>¿Para qué lo haremos?</h5>
    <h5>¿Qué ganamos con hacerlo?</h5>
  </div>
  <div class="help">
    <ion-button color="primary" shape="round" expand="block" (click)="goTo()">
      Quiero ayudar
    </ion-button>
  </div>
</ion-content>
